/*Fontface IMPORTS*/

  /* Strawford Thin */
    @font-face {
        font-family: 'strawford';
        src: url('fonts/strawford-thin-webfont.eot');
        src: url('fonts/strawford-thin-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/strawford-thin-webfont.woff2') format('woff2'),
             url('fonts/strawford-thin-webfont.woff') format('woff'),
             url('fonts/strawford-thin-webfont.ttf') format('truetype');
        font-weight: 100;
        font-style: normal;
    }

  /* Strawford ExtraLight */
    @font-face {
        font-family: 'strawford';
        src: url('fonts/strawford-extralight-webfont.eot');
        src: url('fonts/strawford-extralight-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/strawford-extralight-webfont.woff2') format('woff2'),
             url('fonts/strawford-extralight-webfont.woff') format('woff'),
             url('fonts/strawford-extralight-webfont.ttf') format('truetype');
        font-weight: 200;
        font-style: normal;
    }

  /* Strawford Light */
    @font-face {
        font-family: 'strawford';
        src: url('fonts/strawford-light-webfont.eot');
        src: url('fonts/strawford-light-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/strawford-light-webfont.woff2') format('woff2'),
             url('fonts/strawford-light-webfont.woff') format('woff'),
             url('fonts/strawford-light-webfont.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }

  /* Strawford Regular */
    @font-face {
        font-family: 'strawford';
        src: url('fonts/strawford-regular-webfont.eot');
        src: url('fonts/strawford-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/strawford-regular-webfont.woff2') format('woff2'),
             url('fonts/strawford-regular-webfont.woff') format('woff'),
             url('fonts/strawford-regular-webfont.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }

  /* Strawford Medium */
    @font-face {
        font-family: 'strawford';
        src: url('fonts/strawford-medium-webfont.eot');
        src: url('fonts/strawford-medium-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/strawford-medium-webfont.woff2') format('woff2'),
             url('fonts/strawford-medium-webfont.woff') format('woff'),
             url('fonts/strawford-medium-webfont.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;

    }

  /* Strawford Bold */
    @font-face {
        font-family: 'strawford';
        src: url('fonts/strawford-bold-webfont.eot');
        src: url('fonts/strawford-bold-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/strawford-bold-webfont.woff2') format('woff2'),
             url('fonts/strawford-bold-webfont.woff') format('woff'),
             url('fonts/strawford-bold-webfont.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;

    }

  /* Strawford Black */
    @font-face {
        font-family: 'strawford';
        src: url('fonts/strawford-black-webfont.eot');
        src: url('fonts/strawford-black-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/strawford-black-webfont.woff2') format('woff2'),
             url('fonts/strawford-black-webfont.woff') format('woff'),
             url('fonts/strawford-black-webfont.ttf') format('truetype');
        font-weight: 800;
        font-style: normal;

    }

  /* Strawford Thin Italic */
    @font-face {
        font-family: 'strawford';
        src: url('fonts/strawford-thinitalic-webfont.eot');
        src: url('fonts/strawford-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/strawford-thinitalic-webfont.woff2') format('woff2'),
             url('fonts/strawford-thinitalic-webfont.woff') format('woff'),
             url('fonts/strawford-thinitalic-webfont.ttf') format('truetype');
        font-weight:100;
        font-style: italic;
    }

  /* Strawford ExtraLight Italic */
    @font-face {
        font-family: 'strawford';
        src: url('fonts/strawford-extralightitalic-webfont.eot');
        src: url('fonts/strawford-extralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/strawford-extralightitalic-webfont.woff2') format('woff2'),
             url('fonts/strawford-extralightitalic-webfont.woff') format('woff'),
             url('fonts/strawford-extralightitalic-webfont.ttf') format('truetype');
        font-weight: 200;
        font-style: italic;
    }

  /* Strawford Light Italic */
    @font-face {
        font-family: 'strawford';
        src: url('fonts/strawford-lightitalic-webfont.eot');
        src: url('fonts/strawford-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/strawford-lightitalic-webfont.woff2') format('woff2'),
             url('fonts/strawford-lightitalic-webfont.woff') format('woff'),
             url('fonts/strawford-lightitalic-webfont.ttf') format('truetype');
        font-weight: 300;
        font-style: italic;
    }

  /* Strawford Regular Italic */
    @font-face {
        font-family: 'strawford';
        src: url('fonts/strawford-regularitalic-webfont.eot');
        src: url('fonts/strawford-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/strawford-regularitalic-webfont.woff2') format('woff2'),
             url('fonts/strawford-regularitalic-webfont.woff') format('woff'),
             url('fonts/strawford-regularitalic-webfont.ttf') format('truetype');
        font-weight: 400;
        font-style: italic;
    }

  /* Strawford Medium Italic */
    @font-face {
        font-family: 'strawford';
        src: url('fonts/strawford-mediumitalic-webfont.eot');
        src: url('fonts/strawford-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/strawford-mediumitalic-webfont.woff2') format('woff2'),
             url('fonts/strawford-mediumitalic-webfont.woff') format('woff'),
             url('fonts/strawford-mediumitalic-webfont.ttf') format('truetype');
        font-weight: 500;
        font-style: italic;
    }


  /* Strawford Bold Italic */
    @font-face {
        font-family: 'strawford';
        src: url('fonts/strawford-bolditalic-webfont.eot');
        src: url('fonts/strawford-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/strawford-bolditalic-webfont.woff2') format('woff2'),
             url('fonts/strawford-bolditalic-webfont.woff') format('woff'),
             url('fonts/strawford-bolditalic-webfont.ttf') format('truetype');
        font-weight: 700;
        font-style: italic;
    }

  /* Strawford Black Italic */
    @font-face {
        font-family: 'strawford';
        src: url('fonts/strawford-blackitalic-webfont.eot');
        src: url('fonts/strawford-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/strawford-blackitalic-webfont.woff2') format('woff2'),
             url('fonts/strawford-blackitalic-webfont.woff') format('woff'),
             url('fonts/strawford-blackitalic-webfont.ttf') format('truetype');
        font-weight: 800;
        font-style: italic;
    }
